In [1]:
import pandas as pd
import os

# Group Cleaned Data by City, Country

In [2]:
cleaned_data_path = os.path.join("..", "VC_Data","Cleaned_Data", "cleaned_data.csv")
test_df = pd.read_csv(cleaned_data_path)
test_df

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,New York City,New York,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,Los Angeles,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,EST,Tallinn,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,GBR,London,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,Dallas,Fort Worth,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36094,/organization/zytoprotec,Zytoprotec,http://www.zytoprotec.com,|Biotechnology|,Biotechnology,2686600,operating,AUT,Vienna,Gerasdorf Bei Wien,...,0.0,0.0,2686600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36095,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,320000,operating,GBR,London,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36096,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1587301,operating,CHN,Beijing,Beijing,...,0.0,0.0,1587301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36097,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97398,operating,HRV,Split,Split,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36098,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45000000,operating,USA,New York City,New York,...,0.0,0.0,16000000.0,10000000.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
groupings_item = test_df.groupby(["country_code", "city"])
groupings_item

In [6]:
sum_df = groupings_item.sum()
sum_df.sort_values("funding_total_usd").tail(50)

                                  funding_total_usd  funding_rounds  \
country_code city
IRL          Dublin                      1878294716           290.0
USA          Sussex                      1900000000             1.0
             Boulder                     1969218237           386.0
JPN          Tokyo                       2007215116           271.0
ESP          Barcelona                   2021355559           276.0
USA          Lincolnshire                2021626000             6.0
CAN          Montréal                    2068035859           231.0
USA          Durham                      2069066609           257.0
             Portland                    2106122257           369.0
             Washington                  2194870849           280.0
FRA          Paris                       2352002365           567.0
USA          Philadelphia                2396374651           267.0
IND          New Delhi                   2513214830            97.0
USA          Rochester                   2573069819            58.0
             Santa Monica                2677799843           381.0
             Milpitas                    2735930978           141.0
             South San Francisco         2792025376           174.0
DEU          Berlin                      3018830679           375.0
CAN          Toronto                     3214010589           536.0
USA          Dallas                      3412982320           300.0
IND          Mumbai                      3582007651           194.0
USA          Fremont                     3946102553           233.0
IND          Bangalore                   4248465548           259.0
USA          Houston                     4629312752           288.0
             Waltham                     4658426820           371.0
             Irvine                      4771761039           408.0
             Los Angeles                 5453370333           717.0
             Stamford                    5553224695            70.0
             Seattle                     5610463199          1114.0
             Menlo Park                  6039818657           429.0
             Chicago                     6116299893           764.0
             Kirkland                    6129197120            95.0
             San Mateo                   6508569620           669.0
CHN          Shanghai                    6571949700           355.0
USA          Santa Clara                 7065680816           655.0
             Austin                      7491924704          1034.0
             Atlanta                     7494217987           513.0
             Boston                      7781775909           976.0
             Sunnyvale                   8019965686           709.0
             Redwood City                8030157045           628.0
             San Jose                    8977373948           725.0
RUS          Moscow                      9279846523           376.0
USA          Mountain View               9283410444          1008.0
             Cambridge                   9615318483           924.0
GBR          London                     10305215850          1756.0
USA          San Diego                  10694900478           939.0
             Palo Alto                  12158241210          1094.0
CHN          Beijing                    13134681748           752.0
USA          San Francisco              38200534869          4987.0
             New York                   61070538324          4052.0

                                  founded_year          seed       venture  \
country_code city
IRL          Dublin                   319276.0  6.453466e+07  6.526547e+08
USA          Sussex                     1971.0  0.000000e+00  0.000000e+00
             Boulder                  297137.0  4.486568e+07  1.478102e+09
JPN          Tokyo                    257050.0  5.949203e+07  1.019130e+09
ESP          Barcelona                307350.0  5.086494e+07  7.456688e+08
USA          Lincolnshire               4002.0  6.850000e+05  2.050000e+07
CAN          Montréal                 228756.0  6.098993e+07  8.417431e+08
USA          Durham                   184508.0  1.409975e+07  1.167496e+09
             Portland                 317207.0  5.368570e+07  1.524163e+09
             Washington               259106.0  4.514966e+07  1.567281e+09
FRA          Paris                    656627.0  9.448855e+07  2.013690e+09
USA          Philadelphia             194806.0  1.979898e+07  8.871416e+08
IND          New Delhi                100465.0  1.265774e+07  1.045480e+09
USA          Rochester                 64049.0  5.685800e+06  1.188878e+08
             Santa Monica             353681.0  1.073686e+08  1.719979e+09
             Milpitas                  82153.0  5.750000e+06  1.621334e+09
             South San Francisco       96218.0  3.485000e+06  2.374916e+09
DEU          Berlin                   385980.0  6.790797e+07  1.962661e+09
CAN          Toronto                  497685.0  1.144301e+08  1.807110e+09
USA          Dallas                   238730.0  2.913338e+07  1.053387e+09
IND          Mumbai                   220854.0  1.692676e+07  1.126341e+09
USA          Fremont                  180289.0  1.026300e+07  2.642147e+09
IND          Bangalore                273068.0  2.884084e+07  3.786454e+09
USA          Houston                  250703.0  3.054490e+07  1.143779e+09
             Waltham                  230412.0  8.950002e+06  3.234235e+09
             Irvine                   260613.0  2.263585e+07  2.736967e+09
             Los Angeles              690958.0  1.345993e+08  3.321942e+09
             Stamford                  54161.0  8.875872e+06  3.634281e+08
             Seattle                  863373.0  1.475216e+08  4.822088e+09
             Menlo Park               323306.0  5.903103e+07  3.775624e+09
             Chicago                  727056.0  1.147529e+08  4.188636e+09
             Kirkland                  68230.0  1.090967e+07  3.821903e+08
             San Mateo                449483.0  8.703926e+07  4.755285e+09
CHN          Shanghai                 214714.0  1.262961e+07  3.482505e+09
USA          Santa Clara              469244.0  5.595024e+07  6.044244e+09
             Austin                   873022.0  1.742742e+08  4.911422e+09
             Atlanta                  455552.0  6.198217e+07  2.121917e+09
             Boston                   696776.0  1.584781e+08  4.655261e+09
             Sunnyvale                527520.0  5.243045e+07  6.178232e+09
             Redwood City             377090.0  5.307305e+07  6.800936e+09
             San Jose                 529479.0  5.165603e+07  7.360308e+09
RUS          Moscow                   363706.0  6.275752e+07  1.317201e+09
USA          Mountain View            758989.0  1.564509e+08  8.605537e+09
             Cambridge                656436.0  1.127219e+08  7.202430e+09
GBR          London                  1812107.0  4.105630e+08  5.863710e+09
USA          San Diego                645739.0  9.609879e+07  6.779356e+09
             Palo Alto                875695.0  2.264297e+08  8.605281e+09
CHN          Beijing                  441386.0  7.522000e+06  1.049003e+10
USA          San Francisco           4020707.0  1.370799e+09  3.108417e+10
             New York                3551363.0  9.252514e+08  1.823621e+10

                                  equity_crowdfunding  undisclosed  \
country_code city
IRL          Dublin                         1247816.0    2502357.0
USA          Sussex                               0.0          0.0
             Boulder                              0.0    8850000.0
JPN          Tokyo                          5800000.0    6373581.0
ESP          Barcelona                        35000.0  254384355.0
USA          Lincolnshire                         0.0          0.0
CAN          Montréal                        155000.0   14269991.0
USA          Durham                           25000.0      71000.0
             Portland                             0.0          0.0
             Washington                     1035000.0     190000.0
FRA          Paris                           398097.0   12278990.0
USA          Philadelphia                    300000.0   15950000.0
IND          New Delhi                            0.0     710000.0
USA          Rochester                        55000.0          0.0
             Santa Monica                    250000.0    8668119.0
             Milpitas                             0.0          0.0
             South San Francisco                  0.0   14865000.0
DEU          Berlin                         7258800.0    8199371.0
CAN          Toronto                         915000.0   12998799.0
USA          Dallas                          417000.0     370000.0
IND          Mumbai                               0.0    2000000.0
USA          Fremont                         700000.0          0.0
IND          Bangalore                            0.0    1640000.0
USA          Houston                        1352588.0          0.0
             Waltham                              0.0          0.0
             Irvine                         5051000.0          0.0
             Los Angeles                      51700.0   32819999.0
             Stamford                             0.0          0.0
             Seattle                              0.0     966000.0
             Menlo Park                     1160000.0          0.0
             Chicago                        7802250.0  108134000.0
             Kirkland                             0.0          0.0
             San Mateo                            0.0          0.0
CHN          Shanghai                             0.0   44382554.0
USA          Santa Clara                          0.0   30450000.0
             Austin                         2762500.0    2605920.0
             Atlanta                         278800.0    1116456.0
             Boston                               0.0   21720000.0
             Sunnyvale                            0.0    7400001.0
             Redwood City                         0.0          0.0
             San Jose                         14000.0          0.0
RUS          Moscow                               0.0  424035000.0
USA          Mountain View                        0.0    2600000.0
             Cambridge                      5000000.0    1500000.0
GBR          London                        35119531.0  380366074.0
USA          San Diego                      1501555.0   21339201.0
             Palo Alto                            0.0    1622039.0
CHN          Beijing                              0.0  392923733.0
USA          San Francisco                  7511480.0  129432497.0
             New York                       1644100.0   75182992.0

                                  convertible_note  debt_financing  \
country_code city
IRL          Dublin                      3341991.0    1.561237e+07
USA          Sussex                            0.0    0.000000e+00
             Boulder                    29522885.0    3.008387e+07
JPN          Tokyo                             0.0    2.106986e+06
ESP          Barcelona                    310000.0    4.029033e+08
USA          Lincolnshire                      0.0    4.410000e+05
CAN          Montréal                    2261818.0    4.917204e+07
USA          Durham                      3682885.0    1.072176e+08
             Portland                    5454554.0    9.998798e+07
             Washington                 16573758.0    5.986471e+07
FRA          Paris                        642698.0    5.244518e+07
USA          Philadelphia                 837305.0    9.169360e+08
IND          New Delhi                         0.0    2.250000e+07
USA          Rochester                   3581000.0    2.403815e+09
             Santa Monica                1556000.0    1.073586e+08
             Milpitas                          0.0    4.860394e+07
             South San Francisco         7085039.0    1.339440e+08
DEU          Berlin                       185000.0    6.437288e+07
CAN          Toronto                     6100000.0    2.214887e+08
USA          Dallas                            0.0    1.379385e+09
IND          Mumbai                            0.0    2.251500e+09
USA          Fremont                     2826676.0    8.092993e+08
IND          Bangalore                   2206000.0    4.033500e+08
USA          Houston                     1374250.0    1.381608e+09
             Waltham                     4818000.0    6.316737e+08
             Irvine                     12808620.0    8.004528e+08
             Los Angeles                16000000.0    4.011291e+08
             Stamford                     888572.0    1.549907e+07
             Seattle                    11224582.0    1.668043e+08
             Menlo Park                  2500000.0    3.206442e+08
             Chicago                     7080000.0    9.016261e+08
             Kirkland                          0.0    1.579281e+07
             San Mateo                  22533164.0    4.263767e+08
CHN          Shanghai                          0.0    6.706170e+08
USA          Santa Clara                28307484.0    2.351996e+08
             Austin                     15928539.0    1.179112e+09
             Atlanta                     1747000.0    9.847734e+08
             Boston                      5065373.0    2.091335e+09
             Sunnyvale                   2803481.0    2.538063e+08
             Redwood City                2904545.0    5.004260e+08
             San Jose                    2770000.0    5.305017e+08
RUS          Moscow                            0.0    3.002000e+06
USA          Mountain View               5181500.0    1.584968e+08
             Cambridge                    920000.0    3.007740e+08
GBR          London                      2543992.0    2.867326e+08
USA          San Diego                  66260759.0    1.141691e+09
             Palo Alto                   1986600.0    1.410069e+09
CHN          Beijing                           0.0    6.600000e+08
USA          San Francisco              47236829.0    1.931987e+09
             New York                   93792714.0    3.406271e+10

                                        angel  ...  secondary_market  \
country_code city                              ...
IRL          Dublin                22811231.0  ...               0.0
USA          Sussex                       0.0  ...               0.0
             Boulder                9330000.0  ...               0.0
JPN          Tokyo                  4312303.0  ...               0.0
ESP          Barcelona             12082329.0  ...         4700000.0
USA          Lincolnshire                 0.0  ...               0.0
CAN          Montréal               7823184.0  ...               0.0
USA          Durham                 6325000.0  ...               0.0
             Portland              11221213.0  ...               0.0
             Washington            10595000.0  ...               0.0
FRA          Paris                 45385471.0  ...               0.0
USA          Philadelphia           7165000.0  ...               0.0
IND          New Delhi              1667000.0  ...               0.0
USA          Rochester               500000.0  ...               0.0
             Santa Monica          15604250.0  ...               0.0
             Milpitas                     0.0  ...               0.0
             South San Francisco          0.0  ...               0.0
DEU          Berlin                15001361.0  ...               0.0
CAN          Toronto               45724557.0  ...               0.0
USA          Dallas                 9395000.0  ...               0.0
IND          Mumbai                 6530000.0  ...          210000.0
USA          Fremont                2000000.0  ...               0.0
IND          Bangalore              9045000.0  ...               0.0
USA          Houston                4477000.0  ...               0.0
             Waltham               13500000.0  ...               0.0
             Irvine                22865400.0  ...               0.0
             Los Angeles           46743240.0  ...               0.0
             Stamford                525000.0  ...               0.0
             Seattle               49231500.0  ...               0.0
             Menlo Park            18479813.0  ...               0.0
             Chicago               29154000.0  ...               0.0
             Kirkland                650000.0  ...               0.0
             San Mateo              9300000.0  ...               0.0
CHN          Shanghai              45615407.0  ...               0.0
USA          Santa Clara           10890653.0  ...               0.0
             Austin                22588000.0  ...               0.0
             Atlanta               23094020.0  ...               0.0
             Boston                24023830.0  ...               0.0
             Sunnyvale              7386058.0  ...               0.0
             Redwood City          24435000.0  ...        63750000.0
             San Jose              32035000.0  ...               0.0
RUS          Moscow                 9236000.0  ...               0.0
USA          Mountain View         25575000.0  ...               0.0
             Cambridge             17255000.0  ...               0.0
GBR          London               114395772.0  ...               0.0
USA          San Diego              9445000.0  ...               0.0
             Palo Alto             56430085.0  ...               0.0
CHN          Beijing              165066302.0  ...               0.0
USA          San Francisco        208082544.0  ...       535392396.0
             New York             231453394.0  ...       146519222.0

                                  product_crowdfunding       round_A  \
country_code city
IRL          Dublin                           104791.0  1.311227e+08
USA          Sussex                                0.0  0.000000e+00
             Boulder                         1000000.0  1.818903e+08
JPN          Tokyo                                 0.0  1.689942e+08
ESP          Barcelona                         15388.0  7.671374e+07
USA          Lincolnshire                          0.0  0.000000e+00
CAN          Montréal                         500000.0  1.940783e+08
USA          Durham                                0.0  1.145550e+08
             Portland                       14750000.0  1.470640e+08
             Washington                       929212.0  2.143485e+08
FRA          Paris                           1672580.0  5.163906e+08
USA          Philadelphia                    2500000.0  9.016158e+07
IND          New Delhi                             0.0  9.590000e+07
USA          Rochester                             0.0  1.840140e+07
             Santa Monica                   52000000.0  3.318252e+08
             Milpitas                              0.0  1.355500e+08
             South San Francisco                   0.0  2.451230e+08
DEU          Berlin                          2989866.0  4.335803e+08
CAN          Toronto                          835000.0  3.655185e+08
USA          Dallas                           100000.0  1.920100e+08
IND          Mumbai                                0.0  9.084350e+07
USA          Fremont                               0.0  2.273210e+08
IND          Bangalore                         50000.0  2.207764e+08
USA          Houston                               0.0  8.462102e+07
             Waltham                               0.0  4.976811e+08
             Irvine                          2400000.0  2.929550e+08
             Los Angeles                     9186244.0  6.653076e+08
             Stamford                        1319681.0  4.560835e+07
             Seattle                         2901454.0  1.250641e+09
             Menlo Park                      3140000.0  5.000798e+08

In [5]:
count_df = groupings_item.count()
count_df

                           permalink  name  homepage_url  category_list  \
country_code city
ARE          Abu Dhabi             2     2             2              2
             Dubai                49    49            48             48
ARG          Buenos Aires        121   121           120            109
             Córdoba               4     4             4              4
             Finca Elisa           1     1             1              1
...                              ...   ...           ...            ...
ZAF          Midrand               1     1             1              1
             Randburg              1     1             1              1
             Stellenbosch          3     3             3              2
             Tokai                 1     1             1              1
ZWE          Harare                1     1             1              1

                           market  funding_total_usd  status  region  \
country_code city
ARE          Abu Dhabi          2                  2       2       2
             Dubai             48                 49      49      49
ARG          Buenos Aires     109                121     112     121
             Córdoba            4                  4       4       4
             Finca Elisa        1                  1       1       1
...                           ...                ...     ...     ...
ZAF          Midrand            1                  1       1       1
             Randburg           1                  1       1       1
             Stellenbosch       2                  3       3       3
             Tokai              1                  1       1       1
ZWE          Harare             1                  1       1       1

                           funding_rounds  founded_at  ...  secondary_market  \
country_code city                                      ...
ARE          Abu Dhabi                  2           1  ...                 2
             Dubai                     49          46  ...                49
ARG          Buenos Aires             121         111  ...               121
             Córdoba                    4           4  ...                 4
             Finca Elisa                1           1  ...                 1
...                                   ...         ...  ...               ...
ZAF          Midrand                    1           1  ...                 1
             Randburg                   1           0  ...                 1
             Stellenbosch               3           2  ...                 3
             Tokai                      1           1  ...                 1
ZWE          Harare                     1           0  ...                 1

                           product_crowdfunding  round_A  round_B  round_C  \
country_code city
ARE          Abu Dhabi                        2        2        2        2
             Dubai                           49       49       49       49
ARG          Buenos Aires                   121      121      121      121
             Córdoba                          4        4        4        4
             Finca Elisa                      1        1        1        1
...                                         ...      ...      ...      ...
ZAF          Midrand                          1        1        1        1
             Randburg                         1        1        1        1
             Stellenbosch                     3        3        3        3
             Tokai                            1        1        1        1
ZWE          Harare                           1        1        1        1

                           round_D  round_E  round_F  round_G  round_H
country_code city
ARE          Abu Dhabi           2        2        2        2        2
             Dubai              49       49       49       49       49
ARG          Buenos Aires      121      121      121      121      121
             Córdoba             4        4        4        4        4
             Finca Elisa         1        1        1        1        1
...                            ...      ...      ...      ...      ...
ZAF          Midrand             1        1        1        1        1
             Randburg            1        1        1        1        1
             Stellenbosch        3        3        3        3        3
             Tokai               1        1        1        1        1
ZWE          Harare              1        1        1        1        1

[3685 rows x 36 columns]

In [6]:
test_df.loc[test_df["city"] == "Abu Dhabi"]

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
1975,/organization/apex-fund-services,Apex Fund Services,http://www.apexfundservices.com,|Finance|,Finance,30000000,operating,ARE,Abu Dhabi,Abu Dhabi,...,0,0,0,0,0,0,0,0,0,0
24757,/organization/protenders,ProTenders,http://www.protenders.com,|Auctions|Construction|Analytics|,Construction,1250000,operating,ARE,Abu Dhabi,Abu Dhabi,...,0,0,0,0,0,0,0,0,0,0

In [7]:
city_coordinates_path = os.path.join("..", "Data_Cleaner", "geographical_data", "coord_locations.csv")
city_coordinates_df = pd.read_csv(city_coordinates_path)
city_coordinates_df.set_index(["country_code", "city"], inplace = True)
city_coordinates_df

                                     Latitude   Longitude
country_code city
USA          New York               40.712775  -74.005973
             Champaign              40.116420  -88.243383
             Los Angeles            34.052234 -118.243685
             Iselin                 40.575382  -74.322370
             Woodbine               39.373817  -77.056904
...                                       ...         ...
SYC          Victoria               -4.619143   55.451315
MYS          Damansara New Village   3.142145  101.649912
RUS          Frunze                 63.070365  129.728320
CHN          Weiji                  30.691526   98.392772
CAN          Grand Prairie          55.170684 -118.800859

[3887 rows x 2 columns]

In [8]:
company_count = count_df["name"]
sum_df = sum_df.drop(["founded_year"], axis=1)
sum_df['company_count'] = count_df["name"]
sum_df = sum_df.merge(city_coordinates_df, on=['country_code','city'], how='left')
sum_df

                           funding_total_usd  funding_rounds      seed  \
country_code city
ARE          Abu Dhabi              31250000               3   1250000
             Dubai                 617684250              63  18218000
ARG          Buenos Aires          235407920             200  14043003
             Córdoba                  838083               6    414863
             Finca Elisa             1230000               1         0
...                                      ...             ...       ...
ZAF          Midrand                  100000               2         0
             Randburg               27200000               1         0
             Stellenbosch          306450000               3     50000
             Tokai                   2850000               1         0
ZWE          Harare                 10000000               1         0

                             venture  equity_crowdfunding  undisclosed  \
country_code city
ARE          Abu Dhabi      30000000                    0            0
             Dubai         244345000                50000        15000
ARG          Buenos Aires  206309446                    0      5912393
             Córdoba          300000                    0            0
             Finca Elisa     1230000                    0            0
...                              ...                  ...          ...
ZAF          Midrand               0                    0            0
             Randburg       27200000                    0            0
             Stellenbosch    6400000                    0            0
             Tokai           2850000                    0            0
ZWE          Harare                0                    0            0

                           convertible_note  debt_financing    angel    grant  \
country_code city
ARE          Abu Dhabi                    0               0        0        0
             Dubai                   500000               0  3786250  9770000
ARG          Buenos Aires            650000         3704583  4508495   280000
             Córdoba                      0               0   123220        0
             Finca Elisa                  0               0        0        0
...                                     ...             ...      ...      ...
ZAF          Midrand                      0          100000        0        0
             Randburg                     0               0        0        0
             Stellenbosch                 0               0        0        0
             Tokai                        0               0        0        0
ZWE          Harare                       0        10000000        0        0

                           ...   round_B   round_C  round_D  round_E  round_F  \
country_code city          ...
ARE          Abu Dhabi     ...         0         0        0        0        0
             Dubai         ...  12000000  13000000        0        0        0
ARG          Buenos Aires  ...  76500000  50000000        0        0        0
             Córdoba       ...         0         0        0        0        0
             Finca Elisa   ...   1230000         0        0        0        0
...                        ...       ...       ...      ...      ...      ...
ZAF          Midrand       ...         0         0        0        0        0
             Randburg      ...         0         0        0        0        0
             Stellenbosch  ...         0         0        0        0        0
             Tokai         ...         0         0        0        0        0
ZWE          Harare        ...         0         0        0        0        0

                           round_G  round_H  company_count   Latitude  \
country_code city
ARE          Abu Dhabi           0        0              2  24.453884
             Dubai               0        0             49  25.204849
ARG          Buenos Aires        0        0            121 -34.603684
             Córdoba             0        0              4 -31.420083
             Finca Elisa         0        0              1 -26.950885
...                            ...      ...            ...        ...
ZAF          Midrand             0        0              1 -25.999180
             Randburg            0        0              1 -26.143840
             Stellenbosch        0        0              3 -33.932105
             Tokai               0        0              1 -34.062104
ZWE          Harare              0        0              1 -17.821629

                           Longitude
country_code city
ARE          Abu Dhabi     54.377344
             Dubai         55.270783
ARG          Buenos Aires -58.381559
             Córdoba      -64.188776
             Finca Elisa  -65.160181
...                              ...
ZAF          Midrand       28.126293
             Randburg      27.995186
             Stellenbosch  18.860152
             Tokai         18.440958
ZWE          Harare        31.049226

[3685 rows x 26 columns]

In [9]:
aggregate_data_path = os.path.join("..", "VC_Data", "Aggregate_Data", "aggregate_data.csv")
sum_df.to_csv(aggregate_data_path)